.SearchResults {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 45%;
  min-height: 350px;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #121212;
  border-radius: 11px;
}

@media only screen and (max-width: 1024px) {
  .SearchResults {
    width: 90%;
  }
}