.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-family: sans-serif;
}

.AppText {
  padding-top: 11%;
}

.AppButton {
  background-color: #ffffff;
  border: none;
  border-radius: 35px;
  padding: 11px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 1%;
}

.AppButton:hover {
  background-color: #00e357;
  cursor: pointer;
}

.App a {
  color:#00e357;
  text-decoration-color: #ffffff;
}

.App a:visited {
  color: #ffffff;
  text-decoration-color: #00e357;
}

.SearchResultsAndPlaylist {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;
  margin-bottom: 1%;
}

@media only screen and (max-width: 1024px) {
  .SearchResultsAndPlaylist {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
}

.Footer {
  text-align: center;
  margin-bottom: 2%;
}